.clear {
  clear: both;
  display: block;
  content: '';
}
b,
strong {
  font-weight: 500;
  font-size: 103%;
}
i,
em {
  font-style: italic;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: none;
  border: none;
  color: #343843;
  font-weight: 400;
}
.ui-datepicker {
  width: 19em !important;
}
#ui-datepicker-div .ui-datepicker-header {
  padding: 5px 0;
  border: none;
  background-color: white;
}
#ui-datepicker-div .ui-datepicker-header .ui-icon {
  text-indent: 0 !important;
}
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-prev,
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-next {
  background: #2ca0a7;
  border: none;
  color: white;
  cursor: pointer;
  transition: all .2s;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  width: 27px !important;
  font-size: 9px;
  text-transform: uppercase;
}
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-prev:hover,
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-next:hover {
  background: #31b3bb;
  border: none;
  color: white;
  cursor: pointer;
}
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-prev {
  top: 6px;
  left: 0;
  height: 26px;
  font-weight: 700;
}
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-next {
  top: 6px;
  right: 1px;
  height: 26px;
  font-weight: 700;
}
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-prev span,
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-next span {
  background-image: none;
  width: 27px !important;
  margin: 0;
  position: initial;
  top: 0;
  left: 0;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
}
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-month,
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-year {
  height: 25px;
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -o-border-radius: 3px 3px 3px 3px;
  -ms-border-radius: 3px 3px 3px 3px;
  font-size: 85%;
  border: #c6c6c6 1px solid;
  font-weight: 700 !important;
  margin: 0 4px;
  color: #343843;
  width: 55px;
}
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-month {
  margin: 0 4px 0 0;
  width: 110px;
}
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-year {
  margin: 0;
  width: 70px;
}
#ui-datepicker-div .ui-datepicker-calendar {
  background-color: #ededed;
}
#ui-datepicker-div .ui-datepicker-calendar thead tr th {
  border: 0 none;
  padding: 0;
  height: 30px;
  width: 36px !important;
  line-height: 38px;
  text-align: center;
  background-color: #343843;
  color: white;
  font-weight: 700;
  border: none;
}
#ui-datepicker-div .ui-datepicker-calendar tbody tr td {
  border: 0 none;
  padding: 0;
  height: 30px;
  width: 36px !important;
  line-height: 38px;
  text-align: center;
  background-color: white;
  border: none;
  border-right: #ededed 1px solid;
  border-bottom: #ededed 1px solid;
  transition: all .2s;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
}
#ui-datepicker-div .ui-datepicker-calendar tbody tr td a {
  padding: 0;
  text-align: center;
  transition: all .2s;
  -moz-transition: all .2s;
  -webkit-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
}
#ui-datepicker-div .ui-datepicker-calendar tbody tr td:hover {
  background-color: #d1e7e4;
}
#ui-datepicker-div .ui-datepicker-calendar tbody tr td:hover a {
  color: #2ca0a7;
}
#ui-datepicker-div .ui-datepicker-calendar tbody tr td.ui-datepicker-today {
  background-color: white;
  background-image: url('../../tpl2019/img/aujourdhui.png');
  background-position: center center;
  background-repeat: no-repeat;
}
#ui-datepicker-div .ui-datepicker-calendar tbody tr td.ui-datepicker-today a {
  color: white;
  font-weight: 700;
}
#ui-datepicker-div .ui-datepicker-calendar tbody tr td.ui-datepicker-current-day {
  background-color: #fcc831;
}
#ui-datepicker-div .ui-datepicker-calendar tbody tr td.ui-datepicker-current-day a {
  color: white;
  font-weight: 700;
}
